.navigation {
  background-color: pink;
  position: fixed;
  top: 0;
  width: 100%
}

.navigation li {
  display: inline-block;
  padding: 10px 20px;
  overflow: hidden;
  border-right: 1px solid white;
}

.navigation tab {
  text-decoration: none;
  text-align: center;
  color: black;
}

.navigation li tab:hover {
  background-color: rgb(136, 231, 136);
  color: white;
  padding: 5px;
}

h1 {
  color:rgb(136, 231, 136);
  text-align: center;
}

h2{
  color: pink;
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

